# This action will scan dependency manifest files that change as part of a pull request, surfacing
# known-vulnerable versions of the packages declared or updated in the PR. Once installed, if the
# workflow run is marked as required, PRs introducing known-vulnerable packages will be blocked from
# merging.

# See: https://github.com/actions/dependency-review-action
# See: https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review#dependency-review-enforcement

name: Dependency Review
on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
        uses: actions/checkout@v6
        uses: actions/dependency-review-action@v4
